# Server Port
PORT=5000

# MongoDB Connection URI
# Local MongoDB connection URI (default: mongodb://localhost:27017/dish_dashboard)
# Or use MongoDB Atlas connection string: mongodb+srv://<username>:<password>@cluster.mongodb.net/dish_dashboard
MONGODB_URI=mongodb://127017/dish_dashboard
